# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# LaTeX build artifacts
*.aux
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
*.lof
*.lot
*.bbl
*.blg
*.nav
*.snm
*.synctex
*.synctex(busy)


# pytest
.pytest_cache/

tests/

src/security_simulation.py
